<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RestaurantDomain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RestaurantUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SunnyDay.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>72B3F36229BFF4D000E3F565</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72B3F36929BFF4D000E3F565</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72FCE6B22AD161C500B0761C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72FCE6C72AD161C700B0761C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72FCE6D12AD161C800B0761C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
